.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // custom card
.card{
    width: calc(100% / 4 - 20px);
    background-color: black;
    margin: 20px;
    border: 2px solid greenyellow;
    cursor: pointer;
    border-radius: 5px;
    img{
        width: 100%;
        height: 60%;
    }
    .text-box{
        color: white;
        text-align: center;
        p{
            margin: 10px;
        }
    }
}

.details{
    display: flex;
    padding: 0;
    p{
        margin:10px;
        a{
            text-decoration: none;
            color: white;
            background-color: blue;
            padding: 5px;
            border: 2px solid ;
            border-radius: 5px;
        }
    }
    form{
        margin: 3px;
        .delete{
            background-color: red;
            border-color: transparent;
            border-radius: 5px;
            padding: 5px 5px;
            color: white;
        }
    }
    
}
}
.add{
    display: flex;
    justify-content:center;
    button{
        padding: 30px 30px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        font-size: 20px;
    }
}

